<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>

    <script src="lib/smart-table.min.js"></script>

    <!-- JQuery for bootstrap-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>

    <script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="BooksListController">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Add new book!</h3>
        </div>
        <form name="submitForm" novalidate>
            <div class="modal-body" id="modal-body">
                <div class="form-group" ng-class="{'has-error': submitForm.title.$invalid && !submitForm.title.$pristine}">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Oliver Twist" required
                           autofocus ng-model="$ctrl.book.title">
                </div>
                <div class="form-group" ng-class="{'has-error': submitForm.author.$invalid}">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="Charles Dickens" required
                           ng-model="$ctrl.book.author">
                </div>
                <div class="form-group" ng-class="{'has-error': submitForm.isbn.$invalid}">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" placeholder="978-0141439747" required
                           ng-model="$ctrl.book.isbn">
                </div>
                <div class="form-group" ng-class="{'has-error': submitForm.file.$invalid}">
                    <label for="file">Add file</label>
                    <input type="file" class="form-control" id="file" name="file" valid-file
                           accept="application/pdf"
                           onchange="angular.element(this).scope().setFiles(this)"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
                <button class="btn btn-primary" type="button"
                        ng-disabled="submitForm.$invalid"
                        ng-click="$ctrl.ok()">OK</button>
            </div>
        </form>
    </script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Book Library
                </a>
            </div>

            <button class="btn btn-primary navbar-btn" ng-click="addBook()">Add new book</button>
            <div class="navbar-right">
                <p class="navbar-text">
                    {{ messageText }}
                </p>
            </div>
        </div>
    </nav>

    <div class="col-md-12">
        <table class="table table-striped" st-table="booksCollection" st-safe-src="books">
            <thead>
                <tr>
                    <th colspan="4">
                        <input st-search="" class="form-control" placeholder="global search ..." type="text"/>
                    </th>
                </tr>
                <tr>
                    <th st-sort="title">Title</th>
                    <th st-sort="author">Author</th>
                    <th st-sort="isbn">ISBN</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in booksCollection">
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/books/files/{{ book.fileId }}"
                               class="btn btn-success"
                               ng-class="{'disabled': book.fileId == undefined}">
                                <i class=" glyphicon glyphicon-arrow-down"></i>
                            </a>
                            <a class="btn btn-danger" ng-click="delete(book)">
                                <i class="glyphicon glyphicon-remove">
                                </i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
